@charset "UTF-8";
/* CSS Document */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	margin:5px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#pic{
  width:100%;
  float:left;
  margin-top:5px;
}
p{
  margin-top:1px;
}
.text{
	color:black;
	font-family: 'Open Sans Condensed', sans-serif;
}
		
#first:first-letter {
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
  color:red;
}
#cajita {
  float: right;
}
#meta a {
  text-transform:uppercase;
  text-decoration:none;
  color: black;
}
#meta li{
  color: black;
  display:inline-block;
}
<<<<<<< HEAD
#meta li::after{
  content: "/";
=======
.meta li:after{
  content:"\\";
>>>>>>> 9e5fe2e6d6e62919910b66a44cc15195143f8802
  padding: 0px 5px;
}
#meta li:last-child::after {
   content: none;
}
#meta{
  padding-left:0; 
  margin: 0 0 8px;

}
article{
  width: 68%;
  float:left;
  margin-left:10px;

}
aside{
width: 30%;
float:left;
overflow:hidden;
}
#sect{
  overflow:hidden;
  background-color:#d4d4d4;
  overflow:hidden;
  padding:10px;
  margin-top:10px;
 margin: 8px 5px 0px 5px;
}
ul{
   float:left;
  padding:0;
}
a{
   float:left;
}
